staccato_dashboard/macos/Runner/GoogleService-Info.plist
staccato_dashboard/ios/Runner/GoogleService-Info.plist
staccato_dashboard/lib/firebase_options.dart
staccato_dashboard/lib/services/firebase/firebase_options.dart
/.kiro
