# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by the Operating System
.DS_Store
Thumbs.db

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog

# Test related files
coverage/

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log
logs/

# Firebase
firebase-debug.log
firestore-debug.log
ui-debug.log